<div class="col-md-12 col-sm-12 col-xs-12">
  <form class="navbar-form">
      <div class="input-group col-md-12 col-sm-12 col-xs-12">
          <input type="text" class="form-control" ng-model="off.search" placeholder="Search">
      </div>
  </form>
</div>
<div class="col-md-3">
  <div class="panel panel-default">
      <div class="panel-heading">
          Quantité en grammes
          <button class="btn btn-xs btn-danger pull-right" ng-click="off.resetQuantity(off.quantityFilter)">
              <i class="icon-times-circle"></i> Reset
          </button>
      </div>
      <div class="panel-body">
          <rzslider rz-slider-model="off.quantityFilter.minValue" rz-slider-high="off.quantityFilter.maxValue"
                    rz-slider-options="off.quantityFilter.options"></rzslider>
      </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
        Sucre par 100g
        <button class="btn btn-xs btn-danger pull-right" ng-click="off.resetSucre(off.sucreFilter)">
            <i class="icon-times-circle"></i> Reset
        </button>
    </div>
      <div class="panel-body">
          <rzslider rz-slider-model="off.sucreFilter.minValue" rz-slider-high="off.sucreFilter.maxValue"
                    rz-slider-options="off.sucreFilter.options"></rzslider>
      </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
        Matière frasse par 100g
        <button class="btn btn-xs btn-danger pull-right" ng-click="off.resetFat(off.fatFilter)">
            <i class="icon-times-circle"></i> Reset
        </button>
    </div>
      <div class="panel-body">
          <rzslider rz-slider-model="off.fatFilter.minValue" rz-slider-high="off.fatFilter.maxValue"
                    rz-slider-options="off.fatFilter.options"></rzslider>
      </div>
  </div>
</div>

<div class="col-md-9" ng-controller="ProductController">
    <div class="alert alert-warning open-box" ng-show="(off.products | filter:off.filterRange).length==0">
        <h3>Opps! No product match. Try another.</h3>
    </div>
    <div class="col-md-4 open-thumbnail"
         ng-repeat="item in filteredcat = (off.catProduct| filter:off.filterRange).slice(((off.currentPage-1)*off.itemsPerPage), ((off.currentPage)*off.itemsPerPage))">
        <div class="thumbnail">
            <img class="open-img" ng-src="{{item.image_small_url}}" alt="...">
            <div class="caption">
                <h3 class="lead">{{ item.product_name | limitTo:20 }}{{item.product_name.length < 20 ? '' : '...'}}</h3>
                <small><strong>Marque : {{ item.brands }}</strong></small>
                <h4>Quantité : {{ item.quantity | currency:"" }} g</h4>
                <p>Portions : {{ item.parts }}</p>
                <p>Sucre / 100g : {{ item.nutriments.sugars | currency:"" }} g</p>
                <p>Graisse / 100g : {{ item.nutriments.fat | currency:"" }} g</p>
                <div class="row">
                    <div class="col-md-3 col-xs-3">
                        <a ui-sref="detail({productID: item.id})" class="btn btn-sm btn-success">Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9 pull-right" ng-show="off.catProduct.length>off.itemsPerPage">
        <ul uib-pagination total-items='off.catProduct.length' items-per-page="off.itemsPerPage"
                        ng-model="off.currentPage"></ul>
    </div>
</div>
